html, body {
    width: 100%;
    overflow-x: hidden;
    color: #333;
}
body{
    background: #fff;
}
html {
    font-size: 100px;
}

a, a:hover, a:active, a:target, a:visited {
    color: #333;
    text-decoration: none;
}

a:hover, a:active, a:target, a:visited {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear:after {
    display: block;
    height: 0;
    content: "";
    clear: both;
}
.ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*header start*/
.header{
    position: relative;
    height: .44rem;
    font-size: .18rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: #f3f3f3;
}
.header .back{
    position: absolute;
    top: 12px;
    left: 10px;
}
.header .back img{
    width: .11rem;
    height: .2rem;
}
.header .close{
    /*position: absolute;
    top: 12px;
    left: 50px;*/
}
.header .title{
    width: 100%;
    line-height: .44rem;
    text-align: center;
}
.user-header{
    background: #000;
}
.user-header .title{
    color: #fff;
}
/*加载提示信息*/
.jroll-infinite-tip{
    padding: .1rem 0;
    text-align: center;
    font-size: .14rem;
}
/*弹出层*/
.mask {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .4);
}